* {
	box-sizing: border-box;
}
body {
	margin: 40px;
}
h1 {
	text-align: center;
}
p {
	color: black;
	padding: 8px; 
	font-size: 18px; 
	margin-top: 35px;
}
section {
	float: left;
	position: relative; 
	background: orange;
	border: 3px solid black;
	margin-bottom: 20px;
}
.corner {
	position: absolute;
	top: 0px; right: 0px;
	padding: 5px;
	text-align: center;
	margin: 0;
}
#yellow {
	background: lightyellow;
}
#blue {
	background: skyblue;
}
#red {
	background: red;
}

@media (min-width: 992px) {
	.size1 {
		width: 33.33%;
	}
	.size2 {
		width: 33.33%;
	}
	.size3 {
		width: 33.33%;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.size1 {
		width: 50%;
	}
	.size2 {
		width: 50%;
	}
	.size3 {
		width: 100%;
	}
}
@media (max-width: 767px) {
	.size1 {
		width: 100%;
	}
	.size2 {
		width: 100%;
	}
	.size3 {
		width: 100%;
	}
}



/* I could not figure out how to include horizontal margin gaps between the sections.
Any specefied margins interfered with the percentage-width sizes.
I hope to figure that out when I view other people's work in peer-review. */